@font-face {
  font-family: "RSU";
  font-weight: bold;
  font-style: normal;
  src: url("~@/assets/fonts/rsufont/RSU_BOLD.ttf") format("woff2");
}

@font-face {
  font-family: "RSU";
  font-weight: normal;
  font-style: normal;
  src: url("~@/assets/fonts/rsufont/RSU_Regular.ttf") format("woff2");
}

@font-face {
  font-family: "RSU";
  font-weight: 100;
  font-style: normal;
  src: url("~@/assets/fonts/rsufont/RSU_light.ttf") format("woff2");
}
